## .NET / Visual Studio
bin/
obj/
out/
[Bb]uild/
[Ll]og/
[Ll]ogs/
*.user
*.userosscache
*.suo
*.userprefs
*.rsuser
*.sln.docstates

## Visual Studio / Rider / VS Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.DotSettings.user

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET / Web API
wwwroot/lib/
**/appsettings.*.local.json
**/secrets.json
*.pfx
*.publishsettings
PublishScripts/

## Publish / Web deploy
*.pubxml
*.publishproj
*.azurePubxml
publish/

## Test & coverage
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml
coverage*
TestResults/
nunit-*.xml

## OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

## Others
*.log
*.tmp
*.temp
*.cache
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*.lms
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
